<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="assets/pure-0.6.0-min.css">
    <link href="assets/googlefont.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/style2.css">

    <script src='assets/jquery-3.1.0.slim.min.js'></script>
    <script src="assets/vue.js"></script>
    <script src="assets/config.js"></script>
    <script src="assets/vue-resource-0.9.3.min.js"></script>
    <script src="data/date/date_list.js"></script>
    <script src="assets/map_style.js"></script>
    <script src="//cdn.bootcss.com/echarts/3.2.2/echarts.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=30pq91QAo0Cp7izhHpgmgvR8"></script>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>

</head>
<body>
<div id="navbar">
    <div class="title">
        <span>基于手机信令数据的城域出行模式分析系统</span>
    </div>
</div>
<div class="pure-menu" id="left-nav">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="index.html" class="pure-menu-link">数据概况</a></li>
        <li class="pure-menu-item"><a href="phone_trip.html" class="pure-menu-link">单日出行链</a></li>
        <li class="pure-menu-item pure-menu-has-submenu" >
            <a href="#" class="pure-menu-link">城市功能区<i class="material-icons">keyboard_arrow_right</i></a>
            <ul class="submenu">
                <li class="pure-menu-item"><a href="home.html" class="pure-menu-link">居住区</a></li>
                <li class="pure-menu-item"><a href="work.html" class="pure-menu-link">工作区</a></li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-has-submenu" >
            <a href="#" class="pure-menu-link">热点出行区域<i class="material-icons">keyboard_arrow_right</i></a>
            <ul class="submenu">
                <li class="pure-menu-item"><a href="matrix_depa.html" class="pure-menu-link">热点出发区域</a></li>
                <li class="pure-menu-item"><a href="matrix_dest.html" class="pure-menu-link">热点到达区域</a></li>
            </ul>
        </li>
        <li class="pure-menu-item  current"><a href="od_multi_routes.html" class="pure-menu-link">出行模式</a></li>
    </ul>
</div>
<div class="container">
    <div class="right-col">
        <div class="panel" style="padding: 0;">
            <div class="omnibox-container">
                <div class="omnibox">
                    <div class="resultbox">
                        <i class="material-icons">location_on</i>
                        <div class="result">{{ current_od[0]['name'] }}-{{ current_od[1]['name'] }}</div>
                        <i class="material-icons arrow" style="float: right;display: block;">keyboard_arrow_down</i>
                    </div>
                    <ul class="suggestion-list">
                        <li class="suggestion" v-for="od in od_list" v-on:click="loadTripMap(od)" ><i class="material-icons" style="color: #5d5d5d;">location_on</i>{{ od[0].name }}-{{ od[1].name }}</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="panel">
            <ul class="line_list">
                <li v-for="line in line_list">
                    <div class="dot" v-bind:style="{backgroundColor: line.color}"></div>
                    <div class="line_name">{{ line.name }}</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="left-col">
        <div id="bmap" style="height: 100%;">

        </div>
    </div>
</div>
<script>
    $(".pure-menu-has-submenu>a").click(function () {
        $(this).parent().toggleClass('pure-menu-show-submenu');
        $(this).parent().find(".submenu").toggle();
    });
    Vue.config.devtools = true;

    var app = new Vue({
        el:'body',
        data: {
            data_url:  base_site + 'data/',
            od_list:[],
            current_od:[{id:"",name:""},{id:"",name:""}],
            mapv:{
                el:{},
                raw_data:{},
                data:{
                    special_point_list:[],
                    normal_point_list:[],
                    arc_list:[]
                }
            },
            line_list:[]
        },
        compiled: function () {

        },
        ready: function () {
            this.mapv.el = echarts.init(document.getElementById('bmap'));
            this.loadData();
        },
        methods: {
            loadData:function () {

                var data_url = this.data_url+"od/od_list.json";
                this.mapv.raw_data = {};
                this.mapv.data = {
                    special_point_list:[],
                    normal_point_list:[],
                    arc_list:[]
                };
                this.$http.get(data_url).then(function (response) {
                    this.od_list = response.json();
                    this.loadTripMap(this.od_list[0]);
                },function (response) {
                    return false;
                });

            },
            renderData: function () {
                this.renderMap();

            },
            convertMapData: function () {
                var special_point_list = [];
                var normal_point_list = [];
                this.mapv.data.arc_list = [];

                var color_list = ['3FB8AF','FF9E9D','FF3D7F','FA6900','FFF533'];

                var start_point = this.mapv.raw_data['start'];
                var end_point = this.mapv.raw_data['end'];

                special_point_list.push({name:start_point['label'], value:start_point['coords'], itemStyle: {normal: {color:"#00A06E"}} })
                special_point_list.push({name:end_point['label'], value:end_point['coords'], itemStyle: {normal: {color:"#00A06E"}} })
                var routes = this.mapv.raw_data['routes'];
                var t = 0;
                var line_list = [];
                for(var i in routes) {
                    var color = '#'+color_list[t++%color_list.length];
                    line_list.push({'name':i,"color":color});
                    var lines = routes[i];
                    for(var j=0; j<lines.length; j++) {
                        var arc = {coords:[],lineStyle:{}};
                        var points_data = lines[j];

                        arc.coords.push(start_point['coords'])
                        for(var k=0; k<points_data.length; k++) {
                            var point = {
                                name:points_data[k]['label'],
                                value:points_data[k]['coords'],
                                itemStyle: {normal: {color:color}},
                            };
                            if(points_data[k]["is_special"]===true) {
                                special_point_list.push(point);
                            } else {
                                normal_point_list.push(point);
                            }
                            arc.coords.push(points_data[k]['coords'])
                        }
                        arc.coords.push(end_point['coords']);
                        arc['lineStyle'] = {normal:{color:color}};
                        this.mapv.data.arc_list.push(arc);
                    }
                }
                this.line_list = line_list;
                this.mapv.data.special_point_list = special_point_list;
                this.mapv.data.normal_point_list = normal_point_list;

            },
            loadTripMap: function (od) {
                var api = this.data_url + "od/" + od[0]['id'] + '_' + od[1]['id'] + '.json';
                this.$http.get(api).then(function (response) {
                    this.current_od = od;
                    this.mapv.raw_data = response.json();
                    this.convertMapData();
                    this.renderMap();
                }, function (response) {
                    return false;
                })

            },
            renderMap: function () {

                var special_point_config = {
                    type: "effectScatter",
                    label: {normal: {show: true, position: 'right', formatter: '{b}'}},
                    itemStyle: {normal: {color:"#e7c4f2"}},
                    effectType: "ripple",
                    coordinateSystem: "bmap",
                    symbolSize:5,
                    data: this.mapv.data.special_point_list
                };
                var normal_point_config = {
                    type:'scatter',
                    label: {normal: {show: true, position: 'right', formatter: '{b}'}},
                    itemStyle: {normal: {color:"#e7c4f2"}},
                    symbol: 'circle',
                    coordinateSystem: "bmap",
                    symbolSize: 4,
                    data: this.mapv.data.normal_point_list
                };
                var line1_config = {
                    type: 'lines',
                    coordinateSystem: 'bmap',
                    polyline: true,
                    data: this.mapv.data.arc_list,
                    silent: true,
                    lineStyle: {normal: {opacity: 0.4, width: 3}},
                    progressiveThreshold: 500,
                    progressive: 200
                };
                var line2_config = {
                    type: 'lines',
                    coordinateSystem: 'bmap',
                    polyline: true,
                    data: this.mapv.data.arc_list,
                    lineStyle: {normal: {width: 0}},
                    effect: {constantSpeed: 50, show: true, trailLength: 0.2, symbolSize: 4},
                    zlevel: 1
                };
                var series = [special_point_config,normal_point_config,line1_config,line2_config];
                //var series = [special_point_config,normal_point_config];
                option = {
                    bmap: {
                        center: [116.406833, 39.91527],
                        zoom: 12,
                        roam: true,
                        mapStyle: {
                            'styleJson': map_style
                        }
                    },
                    backgroundColor: '#404a59',
                    title : {
                        text: '模拟迁徙',
                        subtext: '数据纯属虚构',
                        left: 'center',
                        textStyle : {
                            color: '#fff'
                        }
                    },
                    series: series
                };

                this.mapv.el.setOption(option);
            }
        }
    });

</script>
</body>
</html>