<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="assets/pure-0.6.0-min.css">
    <link href="assets/googlefont.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/style2.css">

    <script src='assets/jquery-3.1.0.slim.min.js'></script>
    <script src="assets/vue.js"></script>
    <script src="assets/config.js"></script>
    <script src="assets/vue-resource-0.9.3.min.js"></script>
    <script src="data/date/date_list.js"></script>
    <script src="assets/map_style.js"></script>
    <script src="//cdn.bootcss.com/echarts/3.2.2/echarts.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=30pq91QAo0Cp7izhHpgmgvR8"></script>

    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>

</head>
<body>
<div id="navbar">
    <div class="title">
        <span>基于手机信令数据的城域出行模式分析系统</span>
    </div>
</div>
<div class="pure-menu" id="left-nav">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="index.html" class="pure-menu-link">数据概况</a></li>
        <li class="pure-menu-item current"><a href="phone_trip.html" class="pure-menu-link">单日出行链</a></li>
        <li class="pure-menu-item pure-menu-has-submenu" >
            <a href="#" class="pure-menu-link">城市功能区<i class="material-icons">keyboard_arrow_right</i></a>
            <ul class="submenu">
                <li class="pure-menu-item"><a href="home.html" class="pure-menu-link">居住区</a></li>
                <li class="pure-menu-item"><a href="work.html" class="pure-menu-link">工作区</a></li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-has-submenu" >
            <a href="#" class="pure-menu-link">热点出行区域<i class="material-icons">keyboard_arrow_right</i></a>
            <ul class="submenu">
                <li class="pure-menu-item"><a href="matrix_depa.html" class="pure-menu-link">热点出发区域</a></li>
                <li class="pure-menu-item"><a href="matrix_dest.html" class="pure-menu-link">热点到达区域</a></li>
            </ul>
        </li>
        <li class="pure-menu-item"><a href="od_multi_routes.html" class="pure-menu-link">出行模式</a></li>
    </ul>
</div>
<div class="container">
    <div class="right-col">
        <div class="panel">
            <div id="calendar">
                <div class="headbar">
                    <div class="control" v-on:click="calYear(-1)"><i class="material-icons">first_page</i></div>
                    <div class="control" v-on:click="calMonth(-1)"><i class="material-icons">chevron_left</i></div>
                    <div class="control date-title">
                        <div class="year">{{ year }} 年</div>
                        <div class="month">&nbsp;{{ month }} 月</div>
                    </div>
                    <div class="control" v-on:click="calMonth(1)"><i class="material-icons">chevron_right</i></div>
                    <div class="control" v-on:click="calYear(1)"><i class="material-icons">last_page</i></div>
                </div>

                <table class="week">
                    <thead>
                    <tr>
                        <th v-for="day_name in day_name_list">{{ day_name }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="week in week_list">

                        <td v-for="day in week" v-bind:class="{'has-data' : validate_date(day), 'current': year*10000+month*100+day==current_day}" v-on:click="loadData(day)"><a v-if="day > 0">{{ day }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel" style="padding: 0;">
            <div class="omnibox-container">
                <div class="omnibox">
                    <div class="resultbox">
                        <i class="material-icons">account_box</i>
                        <div class="result">{{ current_user }}</div>
                        <i class="material-icons arrow" style="float: right;display: block;">keyboard_arrow_down</i>
                    </div>
                    <ul class="suggestion-list">
                        <li class="suggestion" v-on:click="loadTripMap(0)"><i class="material-icons">fiber_manual_record</i>全部</li>
                        <li class="suggestion" v-for="user in user_list" v-on:click="loadTripMap(user)" ><i class="material-icons" v-bind:style="{color: user_color_list[user]}">fiber_manual_record</i>{{ user }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="left-col">
        <div id="bmap" style="height: 100%;">

        </div>
    </div>
</div>
<script>
    $(".pure-menu-has-submenu>a").click(function () {
        $(this).parent().toggleClass('pure-menu-show-submenu');
        $(this).parent().find(".submenu").toggle();
    });
    Vue.config.devtools = true;

    var app = new Vue({
        el:'body',
        data: {
            year : 0,
            month : 0,
            day_name_list : ['一','二','三','四','五','六','日'],
            valid_date: [],
            data_url:  base_site + 'data/',
            user_list:[],
            user_color_list: {},
            current_user:'全部',
            mapv:{
                el:{},
                raw_data:{},
                data:{
                    special_point_list:[],
                    normal_point_list:[],
                    arc_list:[]
                }
            },
            current_day:-1
        },
        computed: {
            week_list: function () {
                var d= new Date(this.year, this.month, 0);
                var day_num =  d.getDate();
                var first_day = new Date(this.year, this.month-1, 1);
                var first_day_name = first_day.getDay()==0?7:first_day.getDay();
                var week_num = Math.ceil((day_num - (8 - first_day_name)) / 7.0) + 1;
                var week_list = [];
                var day_index = 1;

                var first_week = [];
                for(var i=1;i<first_day_name;i++) {
                    first_week.push(0-i);
                }
                for(var i=first_day_name;i<8;i++) {
                    first_week.push(day_index++);
                }
                week_list.push(first_week);

                for(var i=1;i<week_num;i++) {
                    var week = [];
                    for(var j=1;j<8 && day_index<=day_num;j++) {
                        week.push(day_index++);
                    }
                    week_list.push(week);
                }

                //计算有数据的日期
                this.valid_date = [];
                for(var i in opt_date) {
                    var f_day = this.year * 10000 + this.month * 100;
                    var t_date = parseInt(opt_date[i][1]);
                    if( t_date > f_day && t_date < f_day+32) {
                        this.valid_date.push(t_date%100);
                    }
                }

                return week_list;
            }
        },
        compiled: function () {
            if(opt_date===undefined) {
                var d = new Date();
                this.year = d.getFullYear();
                this.month = d.getMonth()+1;
            } else {
                this.year = parseInt(opt_date[0][1]/10000);
                this.month = parseInt(opt_date[0][1]/100)%100;
            }

        },
        ready: function () {
            this.mapv.el = echarts.init(document.getElementById('bmap'));

            this.valid_date = [opt_date[0][1]%100];
            this.loadData(opt_date[0][1]%100);
        },
        methods: {
            calMonth: function (val) {
                //月份的加减运算
                var month = this.month + val;
                if(month<1) {
                    month += 12;
                    this.year -= 1;
                } else if(month>12) {
                    month -= 12;
                    this.year += 1;
                }
                this.month = month;
            },
            calYear: function (val) {
                //年份的加减运算
                this.year += val;
            },
            validate_date : function (day) {
                //判断当前日期是否是有数据的
                return this.valid_date.indexOf(day)>-1;
            },
            loadData:function (day) {
                var date = this.year * 10000 + this.month * 100 + day;

                //避免重复加载和无效加载
                if(date==this.current_day || !this.validate_date(day)) {
                    return false;
                }
                var data_url = this.data_url+"dateid/"+date+"/user-list.json";
                this.mapv.raw_data = {};
                this.mapv.data = {
                    special_point_list:[],
                    normal_point_list:[],
                    arc_list:[]
                };
                this.user_color_list = {};
                this.$http.get(data_url).then(function (response) {
                    this.current_day = date;
                    this.user_list = response.json();
                    this.user_color_list = {};

                    var color_list = ['3FB8AF','FF9E9D','FF3D7F','FA6900','41A1E1', 'C6D2EB'];
                    for(var i in this.user_list) {
                        this.user_color_list[this.user_list[i]] = '#'+color_list[i%color_list.length];
                    }

                    this.loadTripMap(0);
                },function (response) {
                    return false;
                });
            },
            renderData: function () {
                this.renderMap();

            },
            convertMapData: function (user, points_data) {
                var special_point_list = [];
                var normal_point_list = [];
                var arc_list = {coords:[],lineStyle:{}};
                for(var i=0; i<points_data.length; i++) {
                    var point = {
                        name:points_data[i]['label'],
                        value:points_data[i]['coords'],
                        itemStyle: {normal: {color:this.user_color_list[user]}},
                    };
                    if(points_data[i]["is_special"]===true) {
                        special_point_list.push(point);
                    } else {
                        normal_point_list.push(point);
                    }
                    arc_list.coords.push(points_data[i]['coords'])
                }
                arc_list['lineStyle'] = {normal:{color:this.user_color_list[user]}};

                this.mapv.data.special_point_list = this.mapv.data.special_point_list.concat(special_point_list);
                this.mapv.data.normal_point_list = this.mapv.data.normal_point_list.concat(normal_point_list);
                this.mapv.data.arc_list.push(arc_list);
            },
            loadTripMap: function (user) {
                this.mapv.data = {
                    special_point_list:[],
                    normal_point_list:[],
                    arc_list:[]
                };
                var user_list = [];
                if(user===0) {
                    this.current_user= '全部';
                    user_list = this.user_list;
                } else {
                    this.current_user = user;
                    user_list = [user];
                }

                //需要使用闭包避免异步程序完成后变量值覆盖
                user_list.forEach(function (item, index) {
                    var user = item;
                    if(app.mapv.raw_data[user]===undefined) {
                        var data_url = app.data_url+"dateid/"+app.current_day+"/" + user + "/point.json";
                        Vue.http.get(data_url).then(function (response) {
                            app.mapv.raw_data[user] = response.json();
                            app.convertMapData( user, app.mapv.raw_data[user] );
                            app.renderMap(user);
                        }, function (response) {
                            return false;
                        });
                    } else {
                        app.convertMapData( user, app.mapv.raw_data[user] );
                        app.renderMap(user);
                    }
                });

            },
            renderMap: function (user) {
                //this.mapv.el._map.centerAndZoom(new BMap.Point(116.406833, 39.91527), 10);
                if(this.current_user=='全部') {
                    if(Object.keys(this.mapv.raw_data).length !==this.user_list.length) {
                        return false;
                    }
                }

                var special_point_config = {
                    type: "effectScatter",
                    label: {normal: {show: true, position: 'right', formatter: '{b}'}},
                    itemStyle: {normal: {color:"#e7c4f2"}},
                    effectType: "ripple",
                    coordinateSystem: "bmap",
                    symbolSize:5,
                    data: this.mapv.data.special_point_list
                };
                var normal_point_config = {
                    type:'scatter',
                    label: {normal: {show: true, position: 'right', formatter: '{b}'}},
                    itemStyle: {normal: {color:"#e7c4f2"}},
                    symbol: 'circle',
                    coordinateSystem: "bmap",
                    symbolSize: 4,
                    data: this.mapv.data.normal_point_list
                };
                var line1_config = {
                    type: 'lines',
                    coordinateSystem: 'bmap',
                    polyline: true,
                    data: this.mapv.data.arc_list,
                    silent: true,
                    lineStyle: {normal: {opacity: 0.4, width: 3}},
                    progressiveThreshold: 500,
                    progressive: 200
                };
                var line2_config = {
                    type: 'lines',
                    coordinateSystem: 'bmap',
                    polyline: true,
                    data: this.mapv.data.arc_list,
                    lineStyle: {normal: {width: 0}},
                    effect: {constantSpeed: 50, show: true, trailLength: 0.2, symbolSize: 4},
                    zlevel: 1
                };
                var series = [special_point_config,normal_point_config,line1_config,line2_config];
                //var series = [special_point_config,normal_point_config];
                option = {
                    bmap: {
                        center: [116.406833, 39.91527],
                        zoom: 12,
                        roam: true,
                        mapStyle: {
                            'styleJson': map_style
                        }
                    },
                    backgroundColor: '#404a59',
                    title : {
                        text: '模拟迁徙',
                        subtext: '数据纯属虚构',
                        left: 'center',
                        textStyle : {
                            color: '#fff'
                        }
                    },
                    series: series
                };

                this.mapv.el.setOption(option);
            }
        }
    });

</script>
</body>
</html>