body {
    font-size: 100%;
	background: #f4f7f9;
    color: #5d5d5d;
}
.container {
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.container .left-col {
    overflow: hidden;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    height: 100%;
}
.container .right-col {
    float: right;
    width: 400px;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.panel {
    margin: 10px;
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0 rgba(0,0,0,0.02);
    overflow: hidden;
    position: relative;
}
#menu-btn {
    font-size: 24px;
    position: absolute;
    margin: 8px 0 8px 8px;
    position: absolute;
    left: 0px;
    margin: 16px;
    top: 0;
    z-index: 1;
    transition: left 0.5s;

    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid transparent;
    padding: 8px;

    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0 rgba(0,0,0,0.02);

    cursor: pointer;
}

#left-nav.is-visible {
	-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#left-nav {
	width: 240px;
	background-color: #ffffff;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;

    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 2;
}
#hide-menu-btn {
    position: relative;
    float: right;
    padding: 0.25em 1em;
    cursor: pointer;
}
#left-nav .pure-menu-title {
    height: 2em;
    line-height: 2em;
    padding: 1em 0em 1em 1em;
    color: #5d5d5d;
    font-size: 20px;
    display: block;
    text-decoration: none;
    white-space: nowrap;

}

#left-nav .pure-menu-heading,#left-nav .pure-menu-link {
    color: #5d5d5d;
    padding: 5px 20px;
}
#left-nav .pure-menu-heading {
    padding: 3px 0;
    font-size: 18px;
}

#left-nav ul.pure-menu-list li.current a {
    color: deepskyblue;
}
ul.pure-menu-list li.current a:hover {
    background: none;
}

#calendar {
    margin: 0;
}
#calendar .headbar {
    box-sizing:border-box;
    height: 48px;
    line-height: 48px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}
#calendar .headbar .control {
    box-sizing:border-box;
    border: none;
    margin: 0;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

#calendar .headbar i {
    vertical-align: middle;
    font-size: 24px;
}

#calendar .headbar .date-title {
    width: 60%;
    cursor: default;
}

.date-title .year, .date-title .month {
    font-size: 20px;
    display: inline-block;
}

#calendar .week {
    width: 100%;
    text-align: center;
}
#calendar .week tr {
    height: 36px;
    line-height: 36px;
}
#calendar .week tr td {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
}
#calendar .week td a {
    display: inline-block;
    text-align: center;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 4px;
    border: 0;
    border-radius: 14px;

    -webkit-user-select: none;
    user-select: none;
}
#calendar .week td.has-data a{
    margin: 2px;
    background-color: skyblue;
    color: #ffffff;
    cursor: pointer;
}

#calendar .week td.has-data.current a {
    background-color:#e7c4f2;
    cursor: default;
}

/*phonetrip*/
.omnibox-container {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 4;
}
.omnibox {
    margin: 20px 20px 8px 0;
}
.resultbox {
    font-size: 0px;
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 200px;
    height: 40px;
    line-height: 40px;
    cursor: default;
    color: #424242;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);*/
}
.resultbox i {
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
}
.resultbox .result {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    width: 140px;
}
.resultbox .arrow.upward{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.resultbox.list-shown {
    border-radius: 2px 2px 0 0;
}
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    overflow: visible;
}
.suggestion-list {
    display: none;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 15px;
    overflow: hidden;
    width: 200px;
    max-height: 88px;
    overflow-y: scroll;
}
.suggestion {
    position: relative;
    color: #5d5d5d;
    font-size: 16px;
    line-height: 24px;
    min-height: 24px;
    padding: 6px 0 7px 0;
    border-top: 1px solid #e6e6e6;
    cursor: default;
    direction: ltr;
    text-align: left;
}
.suggestion:last-child {
    border-radius: 0 0 2px 2px;
}
.suggestion:hover {
    background-color: #fafafa;
}
.suggestion i {
    color: transparent;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}