body {
	background: #f4f7f9;
    color: #5d5d5d;
}
.panel {
    margin: 10px;
    border: 2px solid #f2f4f5;
    background: #fff;
    border-radius: 2px;
}
#menu-btn {
    font-size: 24px;
    position: absolute;
    margin: 8px 0 8px 8px;
    position: absolute;
    left: 0px;
    margin: 16px;
    top: 0px;
    z-index: 1;
    transition: left 0.5s;

    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid transparent;
    padding: 8px;
    /*padding: 12px 104px 11px 64px;*/

    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);

    cursor: pointer;
}

#left-nav.is-visible {
	-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#left-nav {
	width: 240px;
	background-color: #ffffff;
	position: absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;

    -webkit-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    color: #424242;
    overflow: visible;
    overflow-y: auto;
    z-index: 2;
}
#hide-menu-btn {
    position: relative;
    float: right;
    padding: 0.25em 1em;
    cursor: pointer;
}
#left-nav .pure-menu-title {
    height: 2em;
    line-height: 2em;
    padding: 1em 0em 1em 1em;
    color: #8ea2ac;
    font-size: 20px;
    display: block;
    text-decoration: none;
    white-space: nowrap;

}
#left-nav .pure-menu-heading,#left-nav .pure-menu-link {
    color: #b0bec5;
}
#calendar {
    margin: 10px;
}
#calendar .headbar {
    box-sizing:border-box;
    height: 48px;
    line-height: 48px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
}
#calendar .headbar .control {
    box-sizing:border-box;
    border: none;
    margin: 0px;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

#calendar .headbar i {
    vertical-align: middle;
    font-size: 24px;
}

#calendar .headbar .date-title {
    width: 60%;
    cursor: default;
}

.date-title .year, .date-title .month {
    font-size: 20px;
    display: inline-block;
}

#calendar .week {
    width: 100%;
    text-align: center;
}
#calendar .week tr {
    height: 36px;
    line-height: 36px;
}
#calendar .week tr td {
    text-align: center;
    vertical-align: middle;
}
#calendar .week td a {
    display: inline-block;
    text-align: center;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 4px;
    border: 0px;
    border-radius: 14px;

    -webkit-user-select: none;
    user-select: none;
}
#calendar .week td.has-data a{
    margin: 2px;
    background-color: skyblue;
    color: #ffffff;
    cursor: pointer;
}